# Dependencies
node_modules/
**/node_modules/
.pnpm-store/

# Environment
.env*

# Build outputs
dist/
build/
coverage/

# Hardhat files
artifacts/
cache/
typechain/
typechain-types/

# IDE
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local files
*.local

# Typescript
*.tsbuildinfo

# Next.js
.next/
out/
